In [5]:
# Задание 1. загрузить данные из файлов excel-comp-data.xlsx
import pandas as pd
import numpy as np


zd1 = pd.read_excel("excel-comp-data.xlsx")
print(zd1)

    account                              name  \
0    211829        Kerluke, Koepp and Hilpert
1    320563                    Walter-Trantow
2    648336        Bashirian, Kunde and Price
3    109996       D'Amore, Gleichner and Bode
4    121213                     Bauch-Goldner
5    132971  Williamson, Schumm and Hettinger
6    145068                        Casper LLC
7    205217                  Kovacek-Johnston
8    209744                    Champlin-Morar
9    212303                    Gerhold-Maggio
10   214098       Goodwin, Homenick and Jerde
11   231907                        Hahn-Moore
12   242368      Frami, Anderson and Donnelly
13   268755                       Walsh-Haley
14   273274                     McDermott PLC

                                  street               city          state  \
0                     34456 Sean Highway         New Jaycob          Texas
1                      1311 Alvis Tunnel      Port Khadijah  NorthCarolina
2   62184 Schamberger Underpass Apt. 231     New Lilianland           Iowa
3            155 Fadel Crescent Apt. 144         Hyattburgh          Maine
4                    7274 Marissa Common    Shanahanchester     California
5                   89403 Casimer Spring       Jeremieburgh       Arkansas
6           340 Consuela Bridge Apt. 400  Lake Gabriellaton     Mississipi
7           91971 Cronin Vista Suite 601         Deronville    RhodeIsland
8                       26739 Grant Lock    Lake Juliannton   Pennsylvania
9              366 Maggio Grove Apt. 998          North Ras          Idaho
10             649 Cierra Forks Apt. 078           Rosaberg       Tenessee
11              18115 Olivine Throughway      Norbertomouth    NorthDakota
12                       182 Bertie Road        East Davian           Iowa
13                  2624 Beatty Parkways       Goodwinmouth    RhodeIsland
14                 8917 Bergstrom Meadow    Kathryneborough       Delaware

    postal-code     Jan     Feb     Mar
0         28752   10000   62000   35000
1         38365   95000   45000   35000
2         76517   91000  120000   35000
3         46021   45000  120000   10000
4         49681  162000  120000   35000
5         62785  150000  120000   35000
6         18008   62000  120000   70000
7         53461  145000   95000   35000
8         64415   70000   95000   35000
9         46308   70000  120000   35000
10        47743   45000  120000   55000
11        31415  150000   10000  162000
12        72686  162000  120000   35000
13        31919   55000  120000   35000
14        27933  150000  120000   70000

 Задание 2. Загрузить данные из файла sp500hst.txt, обозначить столбцы (в соответствии с содержимым).

In [ ]:
pd.set_option('display.max_columns', None)


CTE = pd.read_csv("sp500hst.txt",
                  sep = ',',
                  names = ["Date Index","Start","MidleStart","MidleEnd","End","Amount"],
                  error_bad_lines=False, engine="python")
print (CTE)

         Date Index  Start  MidleStart  MidleEnd    End  Amount
20090821          A  25.60     25.6100    25.220  25.55   34758
20090824          A  25.64     25.7400    25.330  25.50   22247
20090825          A  25.50     25.7000    25.225  25.34   30891
20090826          A  25.32     25.6425    25.145  25.48   33334
20090827          A  25.50     25.5700    25.230  25.54   70176
...             ...    ...         ...       ...    ...     ...
20100813        ZMH  51.72     51.9000    51.380  51.44   14561
20100816        ZMH  51.13     51.4700    50.600  51.00   13489
20100817        ZMH  51.14     51.6000    50.890  51.21   20498
20100819        ZMH  51.63     51.6300    50.170  50.22   18259
20100820        ZMH  50.03     50.5500    49.480  49.82   17792

[122574 rows x 6 columns]

Задание 3 Создать столбец со значеними средними, между значением дневного минимума и максимума.

In [ ]:
df = pd.DataFrame (zd2)
result = df.apply(lambda row: (row['Start'] + row['End'])/2, axis=1)
print (result)

0         25.575
1         25.570
2         25.420
3         25.400
4         25.520
           ...
122569    51.580
122570    51.065
122571    51.175
122572    50.925
122573    49.925
Length: 122574, dtype: float64

3.2) Рассчитать среднее значение показателей для каждого из столбцов 3-6.

In [ ]:
q = df[['Start']].mean()
w = df[['MidleStart']].mean()
e = df[['MidleEnd']].mean()
r = df[['End']].mean()
print ('Среднее значение ', q)
print ('Среднее значение ',w)
print ('Среднее значение ',e)
print ('Среднее значение ',r)

Среднее значение  Start    42.595458
dtype: float64
Среднее значение  MidleStart    43.102243
dtype: float64
Среднее значение  MidleEnd    42.054464
dtype: float64
Среднее значение  End    42.601865
dtype: float64

4.1) Создать DataFrame состоящий из строк относящихся только к 13 августа 2010 года.

In [ ]:
#20100813
k = df.loc[df['Date'] == 20100813]
print (k)

            Date Index   Start  MidleStart  MidleEnd     End  Amount
240     20100813     A   27.39     27.8500    27.300   27.35   24469
485     20100813    AA   10.70     10.7900    10.575   10.64  154397
726     20100813  AAPL  251.03    251.8800   249.090  249.10  126738
971     20100813   ABC   29.01     29.1300    28.690   29.04   16196
1216    20100813   ABT   50.13     50.2600    49.910   50.06   50879
...          ...   ...     ...         ...       ...     ...     ...
121385  20100813   XRX    9.05      9.2200     8.980    9.01   89064
121835  20100813  YHOO   13.82     13.9550    13.760   13.83   78455
122080  20100813   YUM   40.80     41.0399    40.620   40.85   20055
122324  20100813  ZION   20.17     20.4300    19.840   19.89   25193
122569  20100813   ZMH   51.72     51.9000    51.380   51.44   14561

[499 rows x 7 columns]

Из DataFrame, созданного в 4.1, cоздать серию из 30 первых имен

In [ ]:
k.head(30)

          Date Index   Start  MidleStart  MidleEnd     End  Amount
240   20100813     A   27.39       27.85    27.300   27.35   24469
485   20100813    AA   10.70       10.79    10.575   10.64  154397
726   20100813  AAPL  251.03      251.88   249.090  249.10  126738
971   20100813   ABC   29.01       29.13    28.690   29.04   16196
1216  20100813   ABT   50.13       50.26    49.910   50.06   50879
1273  20100813   ACE   52.16       53.83    52.160   53.42   23890
1626  20100813  ADBE   27.99       28.34    27.860   28.01   66254
1871  20100813   ADI   28.16       28.42    28.020   28.07   27100
2116  20100813   ADM   30.59       30.78    29.990   30.05   60221
2359  20100813   ADP   39.98       40.13    39.720   39.79   21913
2601  20100813  ADSK   28.50       29.68    28.060   28.12  112191
2846  20100813   AEE   26.57       27.67    26.420   27.58   50249
3091  20100813   AEP   35.17       35.78    35.170   35.52   31585
3336  20100813   AES   10.52       10.95    10.510   10.62   43780
3581  20100813   AET   27.99       28.26    27.800   28.14   25036
3826  20100813   AFL   48.59       48.72    47.720   47.76   36596
4071  20100813   AGN   63.01       63.93    63.010   63.66   11899
4316  20100813   AIG   37.20       37.50    36.530   36.67   32072
4561  20100813   AIV   20.24       20.52    20.070   20.26   16732
4806  20100813   AIZ   36.78       37.47    36.740   37.01   10168
5049  20100813  AKAM   43.76       44.72    43.330   44.22   60503
5294  20100813   AKS   13.26       13.40    12.950   13.07   55031
5539  20100813   ALL   28.16       28.49    28.040   28.10   32407
5782  20100813  ALTR   25.30       25.50    24.940   24.94   69416
6025  20100813  AMAT   11.12       11.34    11.110   11.17  159012
6270  20100813   AMD    6.60        6.72     6.470    6.49  243344
6514  20100813  AMGN   54.39       55.36    54.180   55.02   55147
6758  20100813   AMP   42.69       43.25    42.170   42.20   23411
7003  20100813   AMT   45.80       46.06    45.530   45.76   17890
7246  20100813  AMZN  126.07      127.48   124.260  124.69   39835

Из DataFrame, созданного в 4.1, создать новый DataFrame индексом в котором являются имена тикеров.

In [ ]:
DF2 = k.loc [: , ["Index", "Date", "Start", "MidleStart", "MidleEnd","End","Amount",]]
DF2.reindex (['Index'])
print (DF2)

       Index      Date   Start  MidleStart  MidleEnd     End  Amount
240        A  20100813   27.39     27.8500    27.300   27.35   24469
485       AA  20100813   10.70     10.7900    10.575   10.64  154397
726     AAPL  20100813  251.03    251.8800   249.090  249.10  126738
971      ABC  20100813   29.01     29.1300    28.690   29.04   16196
1216     ABT  20100813   50.13     50.2600    49.910   50.06   50879
...      ...       ...     ...         ...       ...     ...     ...
121385   XRX  20100813    9.05      9.2200     8.980    9.01   89064
121835  YHOO  20100813   13.82     13.9550    13.760   13.83   78455
122080   YUM  20100813   40.80     41.0399    40.620   40.85   20055
122324  ZION  20100813   20.17     20.4300    19.840   19.89   25193
122569   ZMH  20100813   51.72     51.9000    51.380   51.44   14561

[499 rows x 7 columns]

4.3) Создать DataFrame состоящий из строк относящихся только тикеру ALTR

In [ ]:
ALTR = zd2 [zd2 ['Index'] == 'ALTR']
print (ALTR)

          Date Index  Start  MidleStart  MidleEnd    End  Amount
5544  20090821  ALTR  19.36       19.50     19.15  19.48   54580
5545  20090824  ALTR  19.51       19.72     19.04  19.13   42059
5546  20090825  ALTR  19.13       19.39     18.95  19.05   48539
5547  20090826  ALTR  19.11       19.41     18.99  19.28   42058
5548  20090827  ALTR  19.23       19.32     18.88  19.08   63271
...        ...   ...    ...         ...       ...    ...     ...
5782  20100813  ALTR  25.30       25.50     24.94  24.94   69416
5783  20100816  ALTR  24.82       25.31     24.53  25.11   60276
5784  20100817  ALTR  25.22       25.88     25.04  25.54   89329
5785  20100819  ALTR  25.61       25.96     25.24  25.50   61815
5786  20100820  ALTR  25.44       25.83     25.32  25.60   54383

[243 rows x 7 columns]

Из DataFrame, созданного в 4.3, создать DataFrame индексом в котором являются даты.

In [ ]:
DF4 = ALTR
DF4.reindex (['Date'])
print (DF4)

          Date Index  Start  MidleStart  MidleEnd    End  Amount
5544  20090821  ALTR  19.36       19.50     19.15  19.48   54580
5545  20090824  ALTR  19.51       19.72     19.04  19.13   42059
5546  20090825  ALTR  19.13       19.39     18.95  19.05   48539
5547  20090826  ALTR  19.11       19.41     18.99  19.28   42058
5548  20090827  ALTR  19.23       19.32     18.88  19.08   63271
...        ...   ...    ...         ...       ...    ...     ...
5782  20100813  ALTR  25.30       25.50     24.94  24.94   69416
5783  20100816  ALTR  24.82       25.31     24.53  25.11   60276
5784  20100817  ALTR  25.22       25.88     25.04  25.54   89329
5785  20100819  ALTR  25.61       25.96     25.24  25.50   61815
5786  20100820  ALTR  25.44       25.83     25.32  25.60   54383

[243 rows x 7 columns]

В DataFrame, созданном в 4.3, добавить столбец, содержащий только число месяца, к которому относится дата.

In [ ]:
DF4 = ALTR
DF4['Month'] = DF4['Date'].map(lambda x: str(x)[4 :-2])
print (DF4)

          Date Index  Start  MidleStart  MidleEnd    End  Amount Month
5544  20090821  ALTR  19.36       19.50     19.15  19.48   54580    08
5545  20090824  ALTR  19.51       19.72     19.04  19.13   42059    08
5546  20090825  ALTR  19.13       19.39     18.95  19.05   48539    08
5547  20090826  ALTR  19.11       19.41     18.99  19.28   42058    08
5548  20090827  ALTR  19.23       19.32     18.88  19.08   63271    08
...        ...   ...    ...         ...       ...    ...     ...   ...
5782  20100813  ALTR  25.30       25.50     24.94  24.94   69416    08
5783  20100816  ALTR  24.82       25.31     24.53  25.11   60276    08
5784  20100817  ALTR  25.22       25.88     25.04  25.54   89329    08
5785  20100819  ALTR  25.61       25.96     25.24  25.50   61815    08
5786  20100820  ALTR  25.44       25.83     25.32  25.60   54383    08

[243 rows x 8 columns]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Создать DataFrame состоящий из строк относящихся только тикеру WAT и объединить его с DataFrame для ALTR.

In [ ]:
DF5 = zd2 [zd2 ['Index'] == 'WAT']
df6 = pd.concat([ALTR, DF5])
print (df6)

            Date Index  Start  MidleStart  MidleEnd    End  Amount Month
5544    20090821  ALTR  19.36       19.50     19.15  19.48   54580    08
5545    20090824  ALTR  19.51       19.72     19.04  19.13   42059    08
5546    20090825  ALTR  19.13       19.39     18.95  19.05   48539    08
5547    20090826  ALTR  19.11       19.41     18.99  19.28   42058    08
5548    20090827  ALTR  19.23       19.32     18.88  19.08   63271    08
...          ...   ...    ...         ...       ...    ...     ...   ...
115486  20100813   WAT  62.84       63.32     62.35  62.39   11458   NaN
115487  20100816   WAT  62.00       62.36     61.46  61.95   12828   NaN
115488  20100817   WAT  62.74       64.79     62.56  64.43    9557   NaN
115489  20100819   WAT  64.10       64.38     62.43  62.53    8350   NaN
115490  20100820   WAT  61.99       62.73     61.44  62.68    9270   NaN

[488 rows x 8 columns]

4.5.2) Создать DataFrame в котором присутствует столбец, отражающий разницу в объемах торгов по WAT и ALTR в одинаковые дни и содержит исходные данны об объеме трогов этими акциями.

In [ ]:
# переиндексация dataframe
WAT = zd2 [zd2 ['Index'] == 'WAT']
WAT.reset_index(inplace=True)
ALTR.reset_index(inplace=True)

In [ ]:
k=len(WAT.Index)
n=len(ALTR.Index)

m = pd.DataFrame ({
    'Amount1':[],
    'Amount2':[],
    'Diff':[],
})

for i in range (k):
  for j in range (n):
    if WAT.loc[i , 'Date'] == ALTR.loc [j , 'Date']:
      m.loc[i, 'Diff']=ALTR.loc [j , 'Amount'] - WAT.loc[i , 'Amount']
      m.loc[i, 'Amount1']=ALTR.loc[j , 'Amount']
      m.loc[i, 'Amount2']=WAT.loc [i , 'Amount']
      break

print (m)

     Amount1  Amount2     Diff
0    54580.0   9785.0  44795.0
1    42059.0   5866.0  36193.0
2    48539.0   9567.0  38972.0
3    42058.0   4202.0  37856.0
4    63271.0   6473.0  56798.0
..       ...      ...      ...
240  69416.0  11458.0  57958.0
241  60276.0  12828.0  47448.0
242  89329.0   9557.0  79772.0
243  61815.0   8350.0  53465.0
244  54383.0   9270.0  45113.0

[243 rows x 3 columns]

В DataFrame добавить столбец, содержащий только число месяца, к которому относится дата.

In [ ]:
ALTR['Month'] = ALTR['Date'].map(lambda x: str(x)[4 :-2])
print (ALTR)

     index      Date Index  Start  MidleStart  MidleEnd    End  Amount Month
0     5544  20090821  ALTR  19.36       19.50     19.15  19.48   54580    08
1     5545  20090824  ALTR  19.51       19.72     19.04  19.13   42059    08
2     5546  20090825  ALTR  19.13       19.39     18.95  19.05   48539    08
3     5547  20090826  ALTR  19.11       19.41     18.99  19.28   42058    08
4     5548  20090827  ALTR  19.23       19.32     18.88  19.08   63271    08
..     ...       ...   ...    ...         ...       ...    ...     ...   ...
238   5782  20100813  ALTR  25.30       25.50     24.94  24.94   69416    08
239   5783  20100816  ALTR  24.82       25.31     24.53  25.11   60276    08
240   5784  20100817  ALTR  25.22       25.88     25.04  25.54   89329    08
241   5785  20100819  ALTR  25.61       25.96     25.24  25.50   61815    08
242   5786  20100820  ALTR  25.44       25.83     25.32  25.60   54383    08

[243 rows x 9 columns]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Из DataFrame выбрать только строки, относящиеся к 13 числу месяца.

In [ ]:
ALTR['Day'] = ALTR['Date'].map(lambda x: str(x)[6 : ])
k = ALTR.loc[ALTR.Day == '13']
print (k)

     index      Date Index   Start  ...     End  Amount  Month  Day
35    5579  20091013  ALTR  21.400  ...  21.431  140930     10   13
52    5596  20091113  ALTR  20.770  ...  20.940   55069     11   13
92    5636  20100113  ALTR  21.890  ...  22.140   59606     01   13
153   5697  20100413  ALTR  25.500  ...  25.720   63812     04   13
175   5719  20100513  ALTR  24.440  ...  23.960   92739     05   13
215   5759  20100713  ALTR  28.035  ...  28.440   97869     07   13
238   5782  20100813  ALTR  25.300  ...  24.940   69416     08   13

[7 rows x 10 columns]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Выяввиь столбцы содержащие минимальные и максимальные значения (если такие столбцы есть). (Проверить, есть ли среди столбцов, столбец с минимальным значением курса акций.)

In [ ]:
print(ALTR[ALTR.Amount == ALTR.Amount.max()])
print ('  ')
print(ALTR[ALTR.Amount == ALTR.Amount.min()])

     index      Date Index  Start  ...    End  Amount  Month  Day
159   5703  20100421  ALTR  26.92  ...  26.14  265370     04   21

[1 rows x 10 columns]

    index      Date Index  Start  MidleStart  MidleEnd    End  Amount Month Day
80   5624  20091224  ALTR  22.88       23.18     22.82  23.14   12363    12  24

По данным из 'sp500hst.txt' при помощи Pandas расчитать максимальные значения в 3-6 столбца для дат после 20100801

In [ ]:
#zd2
c = zd2.loc[zd2['Date'] > 20100801]
print(c[c.Start == c.Start.max()])
print ('')
print(c[c.MidleStart == c.MidleStart.max()])
print('')
print(c[c.MidleEnd == c.MidleEnd.max()])

           Date Index   Start  MidleStart  MidleEnd    End  Amount
48182  20100805  GOOG  505.85       508.6   503.559  508.1   24264

           Date Index   Start  MidleStart  MidleEnd    End  Amount
48182  20100805  GOOG  505.85       508.6   503.559  508.1   24264

           Date Index   Start  MidleStart  MidleEnd    End  Amount
48182  20100805  GOOG  505.85       508.6   503.559  508.1   24264

По данным из 'sp500hst.txt' при помощи Pandas расчитать средний объем торгов (обеъм торгов - в последнем столбце) при значениях 3го столбца больше 50.

In [ ]:
h = zd2.loc[zd2['Start'] > 50]
q = h[['Amount']].mean()
print ('Среднее значение', q)

Среднее значение Amount    36467.086646
dtype: float64

Добавить столбец с расшифровкой названия тикера используя данные из файла sp_data2.csv . В случае нехватки данных об именах тикеров корректно обработать их.

In [ ]:
pi = pd.read_csv("sp_data2.csv",
                  sep = ';',
                  names = ['Tiker','Desc','Percentage'])
#122574
k=len(zd2.Index)
n=len(pi.Tiker)

zd2['PIZ']='No data'

for i in range (k):
  for j in range (n):
    if zd2.loc[i , 'Index'] == pi.loc [j , 'Tiker']:
      zd2.loc[i, 'PIZ']=pi.loc [j , 'Desc']
      break
print (zd2)

            Date Index  Start  ...    End  Amount                   PIZ
0       20090821     A  25.60  ...  25.55   34758  Agilent Technologies
1       20090824     A  25.64  ...  25.50   22247  Agilent Technologies
2       20090825     A  25.50  ...  25.34   30891  Agilent Technologies
3       20090826     A  25.32  ...  25.48   33334  Agilent Technologies
4       20090827     A  25.50  ...  25.54   70176  Agilent Technologies
...          ...   ...    ...  ...    ...     ...                   ...
122569  20100813   ZMH  51.72  ...  51.44   14561               No data
122570  20100816   ZMH  51.13  ...  51.00   13489               No data
122571  20100817   ZMH  51.14  ...  51.21   20498               No data
122572  20100819   ZMH  51.63  ...  50.22   18259               No data
122573  20100820   ZMH  50.03  ...  49.82   17792               No data

[122574 rows x 8 columns]

Вывести тикеры, для которых не были найдены рсшифровки.

In [ ]:
n = zd2['Index'].loc[zd2['PIZ'] == 'No data']
print (n)

245        AA
246        AA
247        AA
248        AA
249        AA
         ...
122569    ZMH
122570    ZMH
122571    ZMH
122572    ZMH
122573    ZMH
Name: Index, Length: 40402, dtype: object

Рассчитать суммарный объем торгов (столбец 7) для для одинаковых значений (тикеров) из столбца 2

In [ ]:
zd2.groupby('Index').sum()[['Amount']]

         Amount
Index
A       8609336
AA     81898998
AAPL   52261170
ABC     9006756
ABT    18975870
...         ...
XTO    21297931
YHOO   56837171
YUM    10971538
ZION   15551119
ZMH     4938916

[524 rows x 1 columns]

9.2) Для каждого тикера подсчитать, сколько раз он встречается.

In [ ]:
zd2.drop_duplicates().Index.value_counts()

VNO      245
BEN      245
UNP      245
WAT      245
BMY      245
        ...
SGP       47
NEE       41
WYE       38
QEP       35
ETFCD     20
Name: Index, Length: 524, dtype: int64

Расчитать среднее значение показателей для каждого из столбцов 3-6 для одинаковых значений (тикеров) из столбца 2 и сохранить в новом DataFrame

In [ ]:
l = zd2.groupby('Index')[["Start","MidleStart","MidleEnd","End"]].mean()
print (l)

            Start  MidleStart    MidleEnd         End
Index
A       30.234857   30.567838   29.866467   30.246143
AA      13.086959   13.275341   12.842954   13.047345
AAPL   221.342427  223.556147  218.409411  221.125341
ABC     27.432122   27.683660   27.126983   27.429347
ABT     50.996776   51.365541   50.555472   50.986490
...           ...         ...         ...         ...
XTO     44.640338   45.057131   44.132049   44.588889
YHOO    15.854774   16.050593   15.646220   15.847130
YUM     37.456898   37.816882   37.094593   37.479633
ZION    19.694057   20.171136   19.226905   19.702861
ZMH     56.220980   56.799984   55.648306   56.246122

[524 rows x 4 columns]

Добавить в DataFrame новый столбец, содержащий объем торгов (столбец 7), нормированный по среднему значению объема торгов для данного тикера.

In [ ]:
zd2['zbs'] = zd2[['Index','Amount']].groupby("Index").transform(lambda x: x - x.mean())
print (zd2)

            Date Index  Start  ...  Amount                   PIZ           zbs
0       20090821     A  25.60  ...   34758  Agilent Technologies   -382.146939
1       20090824     A  25.64  ...   22247  Agilent Technologies -12893.146939
2       20090825     A  25.50  ...   30891  Agilent Technologies  -4249.146939
3       20090826     A  25.32  ...   33334  Agilent Technologies  -1806.146939
4       20090827     A  25.50  ...   70176  Agilent Technologies  35035.853061
...          ...   ...    ...  ...     ...                   ...           ...
122569  20100813   ZMH  51.72  ...   14561               No data  -5597.840816
122570  20100816   ZMH  51.13  ...   13489               No data  -6669.840816
122571  20100817   ZMH  51.14  ...   20498               No data    339.159184
122572  20100819   ZMH  51.63  ...   18259               No data  -1899.840816
122573  20100820   ZMH  50.03  ...   17792               No data  -2366.840816

[122574 rows x 9 columns]